*{
    padding: 0;
    margin: 0;
    box-sizing: border box;
}
body{
    background-color: #212121;
    color: white;
}
form{
    color: black;
}
.account-img {
    height: 125px;
    width: 125px;
}