{% extends 'base.html'%}
{% load static %}
{% block content %}
<body>
<div class="header-blue mt-5">
<div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>The Platform is here.</h1>
                        <p>Rate and Review </p>
                        <p>This web app allows you to post your projects for other users to rate according to design,
                            usability and content</p>
                        <p>You can also review and rate others projects</p>
                        <button class="btn btn-light btn-lg action-button" type="button">Rate It</button>
                    </div>
                    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder mt-5">
                        <div class="iphone-mockup"><img src="{% static 'images/stars.jpg' %}" class="device">
                            <div class="screen"></div>
                        </div>
                </div>
            </div>
        </div>
</div>
<div class="container-fluid" id="body-content">
    <div class="container">

    {% if posts %}
        {% for post in posts %}
      <div class="card">
        <div class="card-header">
          <img src="{{ post.photo.url }}" alt="{{photo.title}}" />
        </div>
        <div class="card-body">
          <span class="text-center tag tag-purple">
              <a href="{% url 'project' post.title %}"> {{post.title|title}}</a>
          </span>
          <h4 class="pull-right mt-2">
            <a class="btn btn-sm btn-outline-info float-right" href="{{ post.url }}" style=""> View</a>
          </h4>
          <p>
            {{post.description}}
          </p>
          <div class="user">
            <img src="{{post.user.profile.profile_pic.url}}" alt="user" />
            <div class="user-info">
              <h5>By {{post.user.username|title}} </h5>
              <small>{{post.date|date}}</small>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    {% endif %}
    </div>
  </div>
</body>
{% endblock %}