{% extends 'base.html'%}
{% load static %}
{% block content%}
<h2 class="text-center"> Holla {{request.user}}</h2>
<div class="container-fluid" id="body-content">
    <div class="container">

    {% if posts %}
        {% for post in posts %}
      <div class="card">
        <div class="card-header">
          <img src="{{ post.photo.url }}" alt="{{photo.title}}" />
        </div>
        <div class="card-body">
          <span class="tag tag-purple">{{post.title|title}}</span>
          <h4 class="pull-right">
            <a class="btn btn-sm btn-outline-info float-right" href="{{ post.url }}" style=""> View</a>
          </h4>
          <p>
            {{post.description}}
          </p>
          <div class="user">
            <img src="{{post.user.profile.profile_pic.url}}" alt="user" />
            <div class="user-info">
              <h5>By {{post.user.username|title}} </h5>
              <small>{{post.date|date}}</small>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    {% endif %}
    </div>
  </div>
{% endblock %}